
@font-face {
    font-family: 'Lexend';
    src: url(/assets/Lexend-VariableFont_wght.ttf);
}

:root {
    --font-family:"Lexend",system-ui,-apple-system,"Segoe UI","Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#page-content {
    padding-top: calc( 1rem * 1.25 )
}
